################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExerciseDataAccess.Service/.vs/ExerciseDataAccess.Service
